<label><h3>Welcome to shorten service (test version)</h3></label>

	<label>Press here to enter your personal account and use main functions of the service</label><br>
	
	{{#link-to 'surl.login'}}<button id = "login" class="btn"><strong>Login</strong></button>{{/link-to}}<br><br>
	
	<label>Please, ckick here and register your cabinet or use guest functional</label><br>
	
	{{#link-to 'surl.register'}}<button class="btn"><strong>Register</strong></button>{{/link-to}}<br><br>
	
	<label>Guest functional: press here and get the info about URL you are interested</label><br>
	
	{{#link-to 'surl.info'}}<button class="btn"><strong>Info</strong></button>{{/link-to}}<br><br>
	
			
<br>
<br>




