<br>
<label><h3>Guest mode</h3></label><br>


<label>You can get info about link (description and tags)</label>

<br><br>

<label>Insert URL: </label>{{input value="" id = "url"}}

<br><br>
	
	
	<button {{action "getInfo"}}><strong>GET IT</strong></button>
	<br><br>


