<br>
	<label> Please, type your LOGIN-PASSWORD to enter your account</label>
<br><br>
	<table>
		<tr>
			<td class = "log">Login</td><td class = "log">{{input value="" id = "login"}}</td>
		</tr>
		<tr>
			<td class = "log">Password</td><td class = "log">{{input value="" id = "password"}}</td>
		</tr>	
	</table>
	<br>
	
	<br>
	<button {{action "logIn"}}>Log IN</button>
<br>
<br>


