
<br>
<label><h3>Registration of new user</h3></label><br>
<br>

	<table>
		<tr>
			<td class = "log">Login</td><td class = "log">{{input value="" id = "login"}}</td>
		</tr>
		<tr>
			<td class = "log">Password</td><td class = "log">{{input value="" id = "password"}}</td>
		</tr>	
	</table>


	<br>
	<button {{action "regOn"}}><strong>Register</strong></button>
	
	
<br>
<br>

