	<label>Authorisation successful. Please, choose what to do the next</label>
	<br>
	<br>
	<input type="button" value="Use the shorten service to process long URL" onclick=" location.href='login/logon/shorter' ">
	<br>
    <input type="button" value="Get my statistics about URLs usage" onclick=" location.href='login/logon/statistics' ">
	<br>
	<input type="button" value="Edit the URL's attributes: description/tags" onclick=" location.href='login/logon/edit' ">
	
	








{{outlet}}
