 

<div id = "all" align = "center" background = "#cccccc" color = "#bbbbbb">
        
	<h1>ShortLink Test Service<img src="assets/images/Logo.jpg" id="logo" alt="S-URL logo"></h1>
    <a href="#">
        
    </a>
		{{outlet}}
		
	<footer id="info"> 
		<p>Test Service for URLs shorten 2016</p>
		<div id = "signal"></div>
	</footer> 
	
</div>

