
<section id="main">  
    
    {{outlet}}

   
</section>

<footer id="footer">  
    <div id="main-menu">
	{{#link-to 'surl.index'}}<button class="btn" {{action 'deleteCookie'}}><strong>Return to MAIN Menu</strong></button>{{/link-to}}
        
    </div>
    

    
</footer> 


 